<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- import de Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css" crossorigin="anonymous">

    <title>Calculatrice IMIE</title>
</head>
<body>

    <!-- l'élément DOM contenant l'application -->
    <section class="section" id="app">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Calculatrice collaborative IMIE</h1>
                </div>
            </div>
            <div class="columns">
                <div class="column is-three-quarters">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input is-large" v-model="expr">
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <a class="button is-primary is-large is-fullwidth" @click="calculate()">Calculez</a>
                </div>
            </div>
            <div class="columns">
                <div class="column has-text-centered">
                    <h3 class="title">Résultat : {{ result }}</h3>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half">
                    <div class="columns is-gapless" v-for="(inputList, index) in inputs">
                        <div class="column" v-for="input in inputs[index]">
                            <a class="button is-fullwidth" @click="append(input)">{{ input }}</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field is-grouped">
                        <p class="control" v-for="(memory, index) in memories">
                            <a class="button" @click="toggleMemory(index)">M{{ index }} <span v-if="memory.value != 0"> = {{ memory.value }}</span></a>
                        </p>
                    </div>
                    <ul>
                        <li v-for="item in historic">{{item.calcul}} = {{item.result}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- import de Vue JS et de notre script -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.16.2/math.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>